* {
  box-sizing: border-box;
  margin: 0;
  border: 0;
}

.container {
  margin: 0 auto;
  max-width: 1668px;
  padding: 0 15px !important;
}

a {
  text-decoration: none;
  color: inherit;
}

.nav-link {
  color: inherit;
}

body {
  background: black;
  font-family: "Roboto Flex";
  overflow-x: hidden;
}

.header {
  padding: 37px 15px;
  color: white;
}

.select-items div {
  background: black;
}

.header__container .wrap {
  display: flex;
  justify-content: space-between;
}

.nav {
  display: flex;
}

.logo_green_mini {
  display: none;
}

.budget-about__img_mob {
  width: 100%;
}

@media (max-width: 370px) {
  .how-i-work__img {
    padding: 0 15px;
  }
}

.menu {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 30px;
}

.menu__link {
  font-size: 21.02px;
  font-weight: 400;
  line-height: 24.63px;
  position: relative;
  z-index: 9;
}
.menu__link_black {
  background: #b5f602;
  padding: 18px 35.5px;
  border-radius: 100px;
  color: white;
  font-size: 21.02px;
  font-weight: 400;
  line-height: 24.63px;
  color: black;
}

.language-select {
  background: none;
  border: none;
  font-size: 21.02px;
  font-weight: 400;
  line-height: 24.63px;
  outline: none;
}

.language-select::after {
  display: none;
}

.language-select__option {
  font-size: 21.02px;
  font-weight: 400;
  line-height: 24.63px;
}

.custom-select {
  position: relative;
  display: inline-block;
  width: 73px;
  position: relative;
  z-index: 11;
}

.select-selected {
  padding: 10px;
  cursor: pointer;
  position: relative;
  user-select: none;
  font-size: 21.02px;
  font-weight: 400;
  line-height: 24.63px;
}

.select-selected::after {
  content: url("./images/arrowbottomwhite.svg");
  position: absolute;
  top: 2px;
  right: 16px;
}

.select-items {
  display: none;
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  z-index: 99;
  width: 100%;
}

.select-items div {
  padding: 10px;
  cursor: pointer;
}

.select-items div:hover {
  background-color: #ddd;
}

.mob-nav {
  display: none;
  position: relative;
  cursor: pointer;
}

.mob-navigation .menu {
  display: none;
}

.mob-nav.active .mob-nav__line:first-child {
  position: absolute;
  transform: rotate(45deg);
  height: 3px;
}

.mob-nav.active .mob-nav__line:nth-child(2) {
  display: none;
}

.mob-nav.active .mob-nav__line:last-child {
  position: absolute;
  transform: rotate(-45deg);
  height: 3px;
}

.mob-navigation-wrap {
  display: none;
}

@media (min-width: 500px) and (max-width: 1290px) {
  .menu__link,
  .menu__link_black,
  .select-selected {
    font-size: 18px;
    line-height: 21px;
  }

  .menu__link_black {
    padding: 18px 39px;
  }

  .select-selected::after {
    top: 4px;
    right: 18px;
  }

  .nav_right .menu {
    gap: 16px;
  }

  .logo {
    height: 43px;
  }
}

@media (min-width: 550px) and (max-width: 1080px) {
  .logo {
    width: 228px;
    height: 43px;
  }

  .menu__link,
  .menu__link_black,
  .select-selected {
    font-size: 18px;
    line-height: 21px;
  }

  .nav_right {
    display: block;
  }

  .menu__item:first-child {
    display: none;
  }

  .menu__link_black {
    padding: 18px 39px;
  }

  .mob-nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 5px;
    width: 46.5px;
  }

  .header__container .wrap {
    align-items: center;
  }

  .nav-head .menu {
    display: none;
  }

  .mob-nav__line {
    background: white;
    width: 100%;
    height: 4px;
  }

  .nav_right .menu {
    padding-left: 0px;
  }

  .mob-navigation.active .menu {
    margin-top: 65px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding-right: 20px;
  }

  .mob-navigation .menu__item {
    display: block;
  }

  .header {
    border-radius: 0 0 65px 65px;
  }

  .custom-select {
    width: 40px;
  }

  .select-selected::after {
    right: -10px;
  }
}

@media (max-width: 550px) {
  .logo {
    display: none;
  }

  .logo_green_mini {
    display: block;
  }

  .nav-head .menu,
  .nav_right {
    display: none;
  }

  .mob-nav {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 30px;
    padding: 5px;
  }

  .nav-head {
    align-items: center;
  }

  .header {
    padding: 67px 0px 11px 0px;
  }

  .mob-nav__line {
    background: white;
    height: 2px;
  }

  .mob-nav.active .mob-nav__line:first-child {
    height: 2px;
    width: 100%;
  }

  .mob-nav.active .mob-nav__line:nth-child(2) {
    display: none;
  }

  .mob-nav.active .mob-nav__line:last-child {
    height: 2px;
    width: 100%;
  }

  .mob-navigation.active .menu {
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-right: 40px;
  }

  .mob-navigation .mob-navigation-wrap {
    display: none;
  }

  .mob-navigation.active .mob-navigation-wrap {
    display: flex;
  }

  .mob-navigation .menu__item {
    display: block;
  }

  .mob-navigation .menu__link {
    font-weight: 500;
  }

  .mob-navigation-nav {
    display: flex;
    list-style: none;
  }

  .mob-navigation-nav__item_icon .mob-navigation-nav__link {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .mob-navigation-nav_icons {
    gap: 11px;
  }

  .mob-navigation-nav {
    padding: 0;
  }

  .mob-nav {
    margin-right: 10px;
  }

  .mob-navigation-wrap {
    display: flex;
    margin-top: 68px;
    gap: 17px;
    justify-content: space-between;
  }

  .mob-navigation-nav__item_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 49px;
    height: 49px;
    padding: 12px;
    background: black;
    border-radius: 100px;
  }

  .mob-navigation-nav__link_black {
    background: #b5f602;
    padding: 14.5px 39px;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.09px;
    border-radius: 100px;
    display: inline-block;
  }
}

.projects {
  background: black;
  padding-top: 100px;
  padding-bottom: 218px;
  border-radius: 65px 65px 0 0;
  color: white;
}
.projects__container {
  display: flex;
  flex-direction: column;
}

.projects__title {
  font-size: 50px;
  font-weight: 500;
  line-height: 63.5px;
  margin-bottom: 62px;
}

.projects-table-head {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 64px;
  margin-bottom: 46px;
}
.projects-table-head__p {
  font-size: 25px;
  font-weight: 400;
  line-height: 31.75px;
  opacity: 0.7;
}

.projects-table-body__item {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  padding-top: 68.5px;
  padding-bottom: 68.5px;
  cursor: pointer;
}

.projects-table-body__item:nth-child(n + 2) {
  border-top: 0.5px solid #787878;
}

.projects-table-body__name {
  font-size: 30px;
  font-weight: 400;
  line-height: 38.1px;
}
.projects-table-body__solution {
  font-size: 30px;
  font-weight: 400;
  line-height: 33.6px;
}
.projects-table-body__description {
  font-size: 20px;
  font-weight: 400;
  line-height: 28.8px;
}

.projects__link {
  color: white;
  position: relative;
  border: 1px solid #b5f602;
  border-radius: 50px;
  padding: 19px 54px 19px 30px;
  font-size: 22px;
  font-weight: 400;
  line-height: 27.94px;
  align-self: center;
}

.projects__link::after {
  content: url("./images/arrowrightwhite.svg");
  position: absolute;
  top: 20px;
  right: 28px;
}

.projects-table-body__img {
  display: none;
}

.projects-table-body__link {
  display: none;
}

@media (min-width: 500px) and (max-width: 1290px) {
  .container {
    max-width: 1133px !important;
  }

  .projects-table-body__solution {
    font-size: 25px;
    line-height: 28px;
    max-width: 344px;
  }

  .projects-table-body__item {
    padding-top: 62px;
    padding-bottom: 80px;
  }

  .projects__link {
    padding: 19px 45px 19px 23px;
    font-size: 18px;
  }

  .projects__link::after {
    width: 10px;
    height: 15px;
    top: 23px;
    right: 25px;
  }

  .projects__title {
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 88px;
  }

  .projects-table-head {
    margin: 0px;
  }

  .projects {
    padding-top: 73px;
    padding-bottom: 221px;
  }
}

@media (min-width: 550px) and (max-width: 1080px) {
  .container {
    max-width: 708px !important;
  }

  .projects__title {
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 40px;
  }

  .projects-table-head__p {
    font-size: 20px;
    font-weight: 400;
    line-height: 25.4px;
  }

  .projects-table-head {
    margin: 0;
  }

  .projects-table-body__item {
    gap: 24px;
    padding-top: 26px;
    padding-bottom: 44px;
  }

  .projects-table-head__p:last-child {
    padding-left: 15px;
  }

  .projects-table-body__name {
    font-size: 25px;
    font-weight: 400;
    line-height: 31.75px;
  }

  .projects-table-body__solution {
    font-size: 25px;
    line-height: 28px;
    max-width: 218px;
  }

  .projects-table-body__description {
    font-size: 18px;
    font-weight: 400;
    line-height: 25.92px;
    max-width: 218px;
  }

  .projects__link {
    font-size: 18px;
    padding: 19px 45px 19px 23px;
  }

  .projects {
    padding-bottom: 271px;
  }

  .projects-table-body__item {
    display: none;
  }

  .projects-table-body__item:nth-child(-n + 3) {
    display: grid;
  }

  .container {
    max-width: none;
    padding: 0 64px;
  }
}

@media (max-width: 550px) {
  .container {
    padding: 0 15px;
  }

  .projects-table-head {
    display: none;
  }

  .projects-table-body__item {
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  .projects-table-body__description {
    display: none;
  }

  .projects-table-body__img {
    display: block;
    margin-bottom: 24px;
    width: 100%;
  }

  .projects-table-body__item {
    display: none;
  }

  .projects-table-body__item:nth-child(-n + 3) {
    display: flex;
  }

  .projects-table-body__name {
    margin-bottom: 9px;
    font-size: 25px;
    font-weight: 400;
    line-height: 31.75px;
  }

  .projects-table-body__solution {
    font-size: 20px;
    font-weight: 400;
    line-height: 22.4px;
  }

  .projects-table-body__item {
    padding: 30px 0;
  }

  .projects__link {
    margin-top: 50px;
    padding: 16px 45px 16px 23px;
    font-size: 18px;
    line-height: 22px;
  }

  .projects__link::after {
    top: 18px;
    right: 18px;
  }

  .projects__title {
    font-size: 30px;
    font-weight: 500;
    line-height: 38.1px;
    margin-bottom: 41px;
  }

  .projects {
    border-radius: 35px 35px 0 0;
    padding-top: 52px;
    padding-bottom: 151px;
  }

  .projects-table-body__link {
    display: inline-block;
  }

  .projects-table-body__name {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: baseline;
  }

  .projects {
    z-index: 3;
    position: relative;
  }
}

.popup {
  display: none;
}

.popup__container {
  width: 100vw;
  height: 100vh;
}

.popup.active {
  display: block;
  position: absolute;
  z-index: 999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.popup-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 671px;
  max-height: 938px;
}

.popup__img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.popup__wrap {
  position: relative;
  width: 100%;
  height: 100%;
}

.popup__link {
  position: absolute;
  right: -60px;
  bottom: 10%;
}

.popup__img-link {
  width: 122px;
  height: 122px;
}

@media (min-width: 500px) and (max-width: 1600px) {
  .projects {
    position: relative;
    margin-top: 0px;
    z-index: 2;
  }

  .budget {
    padding-bottom: 105px;
  }

  .popup-content {
    max-width: 634px;
    max-height: 886px;
  }

  .popup__img-link {
    width: 98px;
    height: 98px;
  }
}

.logo_black {
  display: none;
}

@media (min-width: 500px) and (max-width: 1290px) {
  .popup-content {
    max-width: 501px;
    max-height: 700px;
  }

  .popup__img-link {
    width: 86px;
    height: 86px;
  }

  .popup__link {
    right: -40px;
  }
}

@media (min-width: 550px) and (max-width: 1080px) {
  .logo_white {
    display: block;
  }

  .logo_black {
    display: none;
  }

  .header.active .mob-nav__line {
    background: black;
  }

  .header.active {
    background: white;
    color: black;
  }

  .header.active .logo_white {
    display: none;
  }

  .header.active .logo_black {
    display: block;
  }

  .popup-content {
    max-width: 501px;
    max-height: 700px;
  }

  .popup__img-link {
    width: 86px;
    height: 86px;
  }

  .popup__link {
    right: -40px;
  }
}

.logo_green_mini_white {
  display: none;
}

.logo_green_mini_black {
  display: none;
}

@media (max-width: 550px) {
  .header.active {
    background: white;
    color: black;
    border-radius: 0 0 35px 35px;
    padding: 67px 0px 23px 0px;
  }

  .logo_green_mini_white {
    display: block;
  }

  .logo_green_mini_black {
    display: none;
  }

  .header.active .mob-nav__line {
    background: black;
  }

  .header.active .logo_green_mini_white {
    display: none;
  }

  .header.active .logo_green_mini_black {
    display: block;
  }

  .popup-content {
    max-width: 357px;
    max-height: 499px;
  }

  .popup__img {
    min-height: 399px;
    min-width: 320px;
  }

  .popup__img-link {
    width: 56px;
    height: 56px;
  }

  .popup__link {
    right: -40px;
  }
}

.footer {
  background: white;
  position: relative;
  border-radius: 65px 65px 0 0;
  padding-top: 61px;
  margin-top: -215px;
  z-index: 6;
  box-shadow: 0px 4px 88.3px 0px #0000000f;
}
.footer__container {
  position: relative;
}

.footer-first {
  display: flex;
  justify-content: space-between;
  margin-bottom: 139px;
}

.footer-first__title {
  font-size: 50px;
  font-weight: 500;
  line-height: 63px;
  margin-bottom: 3px;
}
.footer-first__description {
  font-size: 30px;
  font-weight: 400;
  line-height: 38px;
}
.footer-first-links {
  display: flex;
  gap: 11px;
  list-style: none;
}

.footer-first-links__link {
  background: black;

  border-radius: 100px;
  width: 65px;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-first-links__img {
  width: 33px;
  height: 33px;
}

.footer-second__title {
  max-width: 1681px;
  font-size: 95px;
  font-weight: 500;
  line-height: 120.8px;
  margin-bottom: 95px;
}
.footer-third {
  display: flex;
  justify-content: space-between;
  padding: 38px 0 36px 0;
}

.footer-third__nav {
  display: flex;
  align-items: center;
}

.footer-pattern-img {
  position: absolute;
  bottom: 0%;
  right: 0%;
}

.footer-first-links_mob {
  display: none;
}

@media (min-width: 500px) and (max-width: 1600px) {
  .footer {
    padding-top: 61px;
    margin-top: -59px;
  }

  .footer-second__title {
    margin-bottom: 101px;
  }

  .footer-pattern-img {
    height: 100%;
  }

  .footer-first__title {
    font-size: 45px;
    line-height: 57px;
  }

  .footer-first__description {
    font-size: 25px;
    line-height: 31px;
  }

  .footer-first {
    margin-bottom: 77px;
  }

  .footer-second__title {
    max-width: 811px;
    font-size: 55px;
    font-weight: 500;
    line-height: 68.2px;
  }
  .footer-first-links__img {
    width: 33px;
    height: 33px;
  }

  .footer-first-links__item:nth-child(2) .footer-first-links__img {
    width: 25px;
    height: 22px;
  }

  .footer-first-links__item:last-child .footer-first-links__img {
    width: 24px;
    height: 18px;
  }

  .footer-pattern-img {
    height: 100%;
  }
}

@media (min-width: 500px) and (max-width: 1290px) {
  .footer {
    padding-top: 61px;
    border-radius: 60px 60px 0 0;
  }

  .footer-first__title {
    font-size: 28px;
    line-height: 35px;
    margin-bottom: 2px;
  }

  .footer-first-links__link {
    width: 51px;
    height: 51px;
  }

  .footer-first-links__img {
    width: 26px;
    height: 26px;
  }

  .footer-first-links__item:nth-child(2) .footer-first-links__img {
    width: 20px;
    height: 17px;
  }

  .footer-first-links__item:last-child .footer-first-links__img {
    width: 19px;
    height: 14px;
  }

  .footer-first {
    margin-bottom: 70px;
  }

  .footer-third__logo {
    max-width: 228px;
  }

  .footer-pattern-img {
    height: 100%;
  }
}

@media (min-width: 550px) and (max-width: 1080px) {
  .footer {
    padding-top: 61px;
    border-radius: 60px 60px 0 0;
    margin-top: -208px;
  }

  .footer-first__title {
    font-size: 28px;
    line-height: 35px;
    margin-bottom: 2px;
  }

  .footer-first-links__link {
    width: 51px;
    height: 51px;
  }

  .footer-first-links__img {
    width: 26px;
    height: 26px;
  }

  .footer-first-links__item:nth-child(2) .footer-first-links__img {
    width: 20px;
    height: 17px;
  }

  .footer-first-links__item:last-child .footer-first-links__img {
    width: 19px;
    height: 14px;
  }

  .footer-first {
    margin-bottom: 70px;
  }

  .footer-first__description {
    font-size: 18px;
    line-height: 22px;
  }

  .footer-first__description {
    margin-bottom: 133px;
  }

  .footer-third__logo {
    max-width: 228px;
  }
}

@media (min-width: 550px) and (max-width: 1080px) {
  .footer {
    padding-top: 61px;
    border-radius: 65px 65px 0 0;
  }

  .footer-first__title {
    font-size: 28px;
    line-height: 35px;
    margin-bottom: 2px;
  }

  .footer-first-links__link {
    width: 51px;
    height: 51px;
  }

  .footer-first-links__img {
    width: 26px;
    height: 26px;
  }

  .footer-first-links__item:nth-child(2) .footer-first-links__img {
    width: 20px;
    height: 17px;
  }

  .footer-first-links__item:last-child .footer-first-links__img {
    width: 19px;
    height: 14px;
  }

  .footer-first {
    margin-bottom: 70px;
  }

  .footer-first__description {
    font-size: 18px;
    line-height: 22px;
  }

  .footer-first__description {
    margin-bottom: 70px;
  }

  .footer-third__logo {
    max-width: 228px;
  }

  .footer-second__title {
    max-width: 565px;
    margin-bottom: 40px;
  }

  .footer__container {
    max-width: 703px;
  }

  .footer-pattern-img {
    height: 100%;
  }
}

@media (max-width: 550px) {
  .footer {
    border-radius: 35px 35px 0 0;
    padding-top: 37px;
    padding-bottom: 65px;
    margin-top: -77px;
  }
  .footer-first__title {
    font-size: 28px;
    line-height: 35px;
  }

  .footer-first__description {
    font-size: 18px;
    line-height: 22px;
  }

  .footer-first-links {
    display: none;
  }

  .footer-first {
    margin-bottom: 70px;
  }

  .footer-second__title {
    font-size: 35px;
    line-height: 43px;
    max-width: 352px;
    margin-bottom: 78px;
  }

  .footer-third {
    display: none;
  }

  .footer-first-links_mob {
    display: flex;
    gap: 11px;
    padding: 0;
  }

  .footer-first-links_mob__link {
    width: 51px;
    height: 51px;
  }

  .footer-first-links_mob__img {
    width: 25px;
    height: 25px;
  }

  .link_mob_2 .footer-first-links__img {
    width: 27px;
    height: 27px;
  }

  .link_mob_3 .footer-first-links__img {
    width: 25px;
    height: 25px;
  }

  .footer-pattern-img {
    height: 100%;
  }
}

/* -------------------- */

.modal {
  position: fixed;
  z-index: 99999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.form {
  background: white;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  padding: 38px 39px;
  max-width: 646px;
}

.modal.active {
  display: flex;
}

.form-close {
  position: relative;
  align-self: flex-end;
  cursor: pointer;
}

.form-close__line:first-child {
  transform: rotate(45deg) translateY(-50%);
  top: 50%;
}

.form-close__line:last-child {
  transform: rotate(-45deg) translateY(-50%);
  top: 50%;
}

.form__title {
  font-size: 49px;
  font-weight: 500;
  line-height: 55.86px;
  margin-bottom: 39px;
}

.form-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  max-width: 646px;
  margin-bottom: 39px;
}

.form-tags__tag {
  padding: 11px 20px;
  font-size: 18px;
  font-weight: 400;
  line-height: 20.52px;
  border: 1px solid #b5f602;
  border-radius: 50px;
  cursor: pointer;
}
.form-fields {
  display: flex;
  flex-direction: column;
  max-width: 572px;
}
.form-field__input {
  outline: none;
  padding: 20px 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 20.52px;
  border-bottom: 1px solid #00000024;
  color: black;
}

.form-field__input::placeholder {
  font-size: 18px;
  font-weight: 400;
  line-height: 20.52px;
  color: black;
}

.form-field__textarea {
  resize: none;
  font-size: 18px;
  font-weight: 400;
  line-height: 20.52px;
  color: black;
  padding: 20px 0;
  font-family: "Roboto Flex";
  height: 89px;
  outline: none;
  border-bottom: 1px solid #00000024;
  margin-bottom: 39px;
}

.form-field__textarea::placeholder {
  font-size: 18px;
  font-weight: 400;
  line-height: 20.52px;
  color: black;
  font-family: "Roboto Flex";
}

.contant__description {
  font-size: 18px;
  font-weight: 400;
  line-height: 20.52px;
  margin-bottom: 22px;
}
.contact-variants {
  display: flex;
  gap: 11px;
  align-items: center;
  margin-top: 43px;
}

.contact-variants__span {
  font-size: 18px;
  font-weight: 400;
  line-height: 20.52px;
}

.contact-variants__link {
  border: 1px solid #000000;
  border-radius: 50px;
  color: black;
  font-size: 18px;
  font-weight: 400;
  line-height: 20.52px;
  display: inline-block;
  position: relative;
}

.contact-variants__link:first-child {
  padding: 15px 16px 15px 41px;
}

.contact-variants__link:first-child::before {
  content: url("./images/mailsend.svg");
  position: absolute;
  top: 16px;
  left: 15px;
}

.contact-variants__link_mob::before {
  content: url("./images/mailsend.svg");
  position: absolute;
  top: 16px;
  left: 15px;
}

.contact-variants__link:last-child {
  padding: 15px 16px 15px 43px;
}

.contact-variants__link:last-child::before {
  content: url("./images/telegram.svg");
  position: absolute;
  top: 14px;
  left: 15px;
}

.form__button {
  margin-top: 39px;
  display: block;
  background: #b5f602;
  border-radius: 100px;
  padding: 21.5px 0;
  width: 100%;
  font-size: 21.02px;
  font-weight: 500;
  line-height: 24.63px;
  cursor: pointer;
}

.contact-variants__link_pc {
  display: none;
}

@media (min-width: 500px) and (max-width: 1600px) {
  .form {
    padding: 38px 39px;
  }

  .form__title {
    font-size: 49px;
    font-weight: 500;
    line-height: 55.86px;
    margin-bottom: 57px;
  }

  .modal-content {
    height: 660px;
    overflow-y: scroll;
  }

  .modal-content::-webkit-scrollbar {
    width: 0px;
  }

  .modal-content::-webkit-scrollbar-thumb {
    width: 0px;
  }
}

@media (min-width: 500px) and (max-width: 1290px) {
  .form__title {
    font-size: 35px;
    line-height: 40px;
  }

  .contact-variants {
    margin-top: 0px;
  }
}

@media (min-width: 550px) and (max-width: 1080px) {
  .form__title {
    font-size: 35px;
    line-height: 39px;
  }

  .form {
    width: 603px;
  }
}

@media (max-width: 550px) {
  .modal-content {
    height: 660px;
    overflow-y: scroll;
    width: 100%;
    height: 100vh;
  }

  .form__title {
    font-size: 30px;
    line-height: 34px;
    margin-bottom: 24px;
  }

  .form-tags {
    margin-bottom: 24px;
  }

  .form {
    width: 100%;
    padding: 71px 22px;
  }

  .modal__container {
    max-width: none;
    padding: 0 !important;
    width: 100vw;
  }

  .contact-variants__link_mob {
    display: block;
    padding: 14px 16px 14px 41px;
  }

  .form-tags__tag {
    font-size: 14px;
    line-height: 16px;
  }

  .contact-variants {
    margin-top: 0;
  }

  .form__button {
    margin-top: 24px;
  }

  .form-close {
    position: absolute;
  }

  .footer-first-links__link {
    width: 50px;
    height: 50px;
  }

  .footer-first-links__img {
    width: 25px;
    height: 25px;
  }

  .footer-first-links__item:nth-child(2) .footer-first-links__img {
    width: 23px;
    height: 23px;
  }
}

@media (min-width: 500px) and (max-width: 1600px) {
  .container {
    max-width: 1288px;
  }

  .projects-table-head {
    margin-top: 8px;
  }
}

@media (min-width: 550px) {
  .contact-variants__link {
    display: block;
  }

  .contact-variants__link_mob {
    display: none;
  }

  .select-selected {
    display: flex;
    gap: 6px;
    position: relative;
  }

  .select-selected::after {
    position: relative;
    right: 0px;
    top: -6px;
  }
}

@media (max-width: 550px) {
  .form-close {
    position: relative !important;
    top: 10px !important;
  }

  .form__title {
    margin-top: -44px;
  }
}

@media (min-width: 550px) and (max-width: 1080px) {
  .header.active {
    position: absolute;
    background: white;
    z-index: 99;
    width: 100%;
    border-radius: 0 0 23px 23px;
    max-width: none;
  }

  .usefull-list {
    justify-content: center;
  }

  .projects.hr {
    padding-top: 190px;
  }
}

@media (max-width: 550px) {
  .header {
    position: absolute;
    z-index: 99;
    background: black;
    width: 100%;
    border-radius: 0 0 23px 23px;
    max-width: none;
  }

  .usefull-list {
    justify-content: center;
  }
}

@media (min-width: 1280px) {
  .contactWithMe:hover {
    background: white;
    transition: 300ms ease all;
    color: #b5f602;
  }
}

@media (max-width: 1080px) {
  .contactWithMe:hover {
    background: #b5f602;
    transition: 300ms ease all;
    color: black;
  }
}

@media (max-width: 500px) {
  .contactWithMe:hover,
  .contactWithMe:active {
    background: black;
    transition: 300ms ease all;

    color: white;
  }

  .budget-about-info__link:hover,
  .budget-about-info__link:active {
    background: #b5f602;
    color: black;
  }
}

.form__button:hover,
.form__button:active {
  background: black;
  color: white;
  transition: 300ms ease all;
}

.projects__link:hover,
.projects__link:active {
  background-color: #b5f602;
  transition: 300ms ease all;
}

.contact-variants__link:hover,
.contact-variants__link:active {
  background: #b5f602;
  border-color: white;
  transition: 300ms ease all;

  color: white;
}

.form-tags__tag:hover,
.form-tags__tag:active {
  transition: 300ms ease all;
  background: #b5f602;
}
